<div class="actions btn-group" dropdown is-open="ctrl.open">
  <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
    ng-click="ctrl.showActions($event)"
  >
    <i class="fa fa-navicon"></i>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a ng-click="ctrl.add($event)">
      <i class="fa fa-plus"></i>Add</a>
    </li>
    <li><a ng-click="ctrl.addPlay($event)">
      <i class="fa fa-play"></i>Add &amp; play</a>
    </li>
    <li><a ng-click="ctrl.addReplacePlay($event)">
      <i class="fa fa-share"></i>Add, replace &amp; play</a>
    </li>
    <li ng-show="type == 'directory'" class="divider"></li>
    <li ng-show="type == 'directory'">
      <a ng-click="ctrl.update($event)">
        <i class="fa fa-refresh"></i>Update this folder
      </a>
    </li>
  </ul>
</div>
