<div class="btn-group pull-right" uib-dropdown is-open="status.isopen">
  <button type="button" class="btn btn-primary dropdown-toggle"
    ng-disabled="disabled"
    uib-dropdown-toggle
  >
    <i class="fa fa-sort-amount-asc"></i>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a ui-sref=".({ sort: 'date', direction: 'desc' })">
      <i class="fa fa-sort-numeric-desc"></i> Newest first
    </a></li>
    <li><a ui-sref=".({ sort: 'date', direction: 'asc' })">
      <i class="fa fa-sort-numeric-asc"></i> Oldest first
    </a></li>
    <li><a ui-sref=".({ sort: 'name', direction: 'asc' })">
      <i class="fa fa-sort-alpha-asc"></i> A to Z
    </a></li>
    <li><a ui-sref=".({ sort: 'name', direction: 'desc' })">
      <i class="fa fa-sort-alpha-desc"></i> Z to A
    </a></li>
  </ul>
</div>
