<div>

  <header><nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <m-player-controls></m-player-controls>

      <ul m-navigation class="nav navbar-nav hidden-xs"></ul>

      <div class="burger btn-group visible-xs-block" dropdown>
        <button type="button" class="btn btn-primary dropdown-toggle">
          <i class="fa fa-2x fa-navicon"></i>
        </button>
        <ul m-navigation class="dropdown-menu" role="menu"></ul>
      </div>

    </div>
  </nav></header>

  <main ui-view></main>

</div>
