<div ng-controller="BrowseCtrl as browseCtrl" class="browse">
  <h3>{{uri}}</h3>
  <div class="list-group">

    <div ng-repeat="item in items" ui-sref="browse.uri({ uri: path })"
      class="list-group-item"
      ng-init="path=item.directory||item.file||item.playlist">

      <i ng-show="item.directory" class="type fa fa-folder-o"></i>
      <i ng-show="item.file"      class="type fa fa-music"></i>
      <i ng-show="item.playlist"  class="type fa fa-file-audio-o"></i>

      {{path|basename}}

      <div ng-show="item.directory" class="actions btn-group" dropdown
        ng-click="showActions($event)">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle">
          <i class="fa fa-navicon"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#"><i class="fa fa-plus"></i>Add</a></li>
          <li><a href="#"><i class="fa fa-play"></i>Add &amp; play</a></li>
          <li><a href="#"><i class="fa fa-share"></i>Add, replace &amp; play</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="fa fa-refresh"></i>Update this folder</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
