<div class="btn-group">

  <button ng-click="previous()" type="button" class="btn btn-default">
    <i class="fa fa-lg fa-step-backward"></i>
  </button>

  <button ng-click="play()" ng-hide="playing.state == 'play'" type="button" class="btn btn-default">
    <i class="fa fa-lg fa-play"></i>
  </button>

  <button ng-click="pause()" ng-show="playing.state == 'play'" type="button" class="btn btn-default">
    <i class="fa fa-lg fa-pause"></i>
  </button>

  <button ng-click="next()" type="button" class="btn btn-default">
    <i class="fa fa-lg fa-step-forward"></i>
  </button>

  <button ng-click="random()" type="button" ng-class="{ 'active':playing.random }" class="btn btn-default">
    <i class="fa fa-lg fa-random"></i>
  </button>

  <!-- <button type="button" class="btn btn-default"> -->
  <!--   <i class="fa fa-lg fa-repeat"></i> -->
  <!-- </button> -->

</div>
