<ol class="breadcrumb">
  <li ng-repeat="crumb in ::breadcrumbs">
    <a ng-hide="$last" ui-sref=".({ uri: crumb.path })">{{::crumb.label}}</a>
    <span ng-if="$last">{{::crumb.label}}</span>
  </li>
</ol>

<nav>
  <m-search></m-search>
  <m-sort-by></m-sort-by>
  <m-pagination pages="pages" page="page"></m-pagination>
</nav>

<div class="list-group">
  <div ng-repeat="item in items" ui-sref="browse.uri({ uri: item.path })"
    class="list-group-item">

    <i ng-if="item.type == 'directory'" class="type fa fa-folder-o"></i>
    <i ng-if="item.type == 'file'"      class="type fa fa-music"></i>
    <i ng-if="item.type == 'playlist'"  class="type fa fa-file-audio-o"></i>

    {{::item.base}}

    <m-browse-actions path="item.path" type="item.type"></m-browse-actions>
  </div>
</div>

<nav>
  <m-sort-by></m-sort-by>
  <m-pagination pages="pages" page="page"></m-pagination>
</nav>
