.browse .list-group-item {
  i.type { margin-right: 6px; }
  cursor: pointer;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;

  // Right context menu
  .actions {
    right: 15px;
    z-index: 10;
    position: absolute;
    top: 6px;
  }
}
